@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alumni Sans", sans-serif;
  background: #e5eff8;
}

a {
  text-decoration: none;
}
button {
  transition: all 0.4s ease;
  cursor: pointer;
  border: none;
}

input,
textarea {
  outline: none;
  border: none;
}

.container {
  width: 100%;
  max-width: 1430px;
  margin: 0 auto;
}
.container_s {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

header {
  width: 100%;
  border-radius: 0px 0px 80px 80px;
  overflow: hidden;
  background: url(../assets/images/header-bg.jpeg);
  background-position: center;
  background-size: cover;
}
.header_wrapper {
  padding: 0 8px 8px;
  background: rgb(15, 31, 38, 0.2);
}

nav {
  padding: 24px 80px 24px 80px;
}

.nav_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
.left_nav {
  display: flex;
  align-items: center;
  gap: 48px;
}
.nav_lang {
  border-radius: 24px;
  width: 60px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}

.left_nav p {
  color: rgb(255, 255, 255);
  font-family: Alumni Sans;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.left_nav p:hover {
  text-decoration: underline;
}
.nav_menu {
  display: flex;
  align-items: center;
  gap: 48px;
}
.right_nav {
  display: flex;
  align-items: center;
}
.donate_btn {
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 28px;
  padding: 20px 40px 20px 40px; /* h6 */
  color: rgb(255, 255, 255);
  font-family: Alumni Sans;
  font-size: 28px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -2%;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  transition: all 0.4s ease;
}
.show_more_btns .donate_btn:hover,
.donate_btn:hover {
  transition: all 0.4s ease;
  color: #fff;
  background: rgb(235, 97, 82);
  border-color: transparent;
}

.next_btn {
  border-radius: 28px;
  width: 72px;
  height: 72px;
  background: rgb(217, 70, 54);
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
  justify-content: center;
}

.blocks_titles .next_btn:hover {
  transition: all 0.4s ease;
  background: rgb(255, 185, 115);
}
.next_btn:hover {
  transition: all 0.4s ease;

  background: rgb(235, 97, 82);
  border-color: transparent;
}
.header_text {
  padding: 100px 0 145px;
}

.header_text h1 {
  /* h1 */
  color: rgb(255, 255, 255);
  font-family: Alumni Sans;
  font-size: 120px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -2%;
  text-align: left;
  margin-bottom: 40px;
}

.header_text p {
  /* p */
  color: rgb(255, 255, 255);
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  max-width: 950px;
}

.header_options {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: space-between;
}

.header_option {
  width: 25%;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 80px;
  padding: 48px 20px 48px 60px;
}
.header_option h3 {
  color: rgb(250, 162, 75);
  font-family: Alumni Sans;
  font-size: 80px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -2%;
  text-align: left;
  margin-bottom: 24px;
}

.header_option p {
  /* p */
  color: rgb(255, 255, 255);
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}

.partners_list {
  border-radius: 80px;
  padding: 40px 80px 40px 80px;
  margin-top: 8px;
  background: rgb(218, 231, 240);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partners_list h2 {
  color: rgb(15, 31, 38);
  font-family: Alumni Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -2%;
  text-align: left;
}

.partners_list_icons {
  display: flex;
  align-items: center;
}

section {
  padding-top: 160px;
}

.home_about {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}

.home_about_left {
  max-width: 352px;
  padding-top: 55px;
}

.home_about_left h3 {
  /* h5 */
  color: rgb(250, 162, 75);
  font-family: Alumni Sans;
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -2%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.home_about_left p {
  /* p */
  color: rgb(105, 120, 128);
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}

.home_about_right {
  width: 66%;
}

.block_title {
  /* h2 */
  color: rgb(15, 31, 38);
  font-family: Alumni Sans;
  font-size: 112px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -2%;
  text-align: left;
}

.home_about_right_desc p {
  /* p */
  color: rgb(15, 31, 38);
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  margin: 24px 0 40px;
}

.home_about_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.home_about_card {
  border-radius: 36px;
  padding: 40px;
  background: rgb(218, 231, 240);
}

.home_about_card p {
  /* h4 */
  color: rgb(15, 31, 38);
  font-family: Alumni Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -2%;
  text-align: left;
  text-transform: uppercase;
  margin: 40px 0 12px;
}
.home_about_card span {
  /* p */
  color: rgb(105, 120, 128);
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}

.blocks_titles {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.show_more_btns .donate_btn {
  border: 1px solid rgb(184, 201, 209);
  background: transparent;
  color: rgb(15, 31, 38);
}
.next_btn_o {
  background: rgb(250, 162, 75);
}
.blocks_titles {
  margin-bottom: 60px;
}
.programms_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.programm_card {
  border-radius: 36px;
  padding: 8px;
  background: rgb(218, 231, 240);
}

.programm_card_img img {
  width: 100%;
}

.programm_card_desc p {
  /* h4 */
  color: rgb(15, 31, 38);
  font-family: Alumni Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -2%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.programm_card_desc {
  padding: 28px;
}
.programm_card_desc span {
  /* p */
  color: rgb(105, 120, 128);
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}

.programm_card .donate_btn {
  width: 84%;
  text-align: center;
}

.programm_card .next_btn {
  width: 16%;
}

.btm_donate_block {
  background: url(../assets/images/donate-block-img.jpeg);
  background-size: cover;
  background-position: center;
  border-radius: 60px;

  padding: 120px 8px 8px;
}

.btm_donate_block_wrapper {
  padding-left: 8px;
  padding-right: 8px;
}
.btm_donate_block_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.btm_donate_block_btns button {
  color: rgb(255, 255, 255);
  font-family: Alumni Sans;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 52px;
  padding: 40px;
}

.btm_donate_block_btns button:nth-child(1) {
  background: rgb(217, 70, 54);
  width: 66%;
}
.btm_donate_block_btns button:nth-child(1):hover {
  background: rgb(235, 97, 82);
}
.btm_donate_block_btns button:nth-child(2) {
  width: 34%;
  background: rgb(250, 162, 75);
}
.btm_donate_block_btns button:nth-child(2):hover {
  background: rgb(255, 185, 115);
}
footer {
  padding: 120px 0 80px;
  border-radius: 60px;
  margin-top: 8px;
  background: rgb(218, 231, 240);
}

.footer_top {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-bottom: 80px;
  border-bottom: 1px solid rgb(184, 201, 209);
  margin-bottom: 80px;
}
.footer_top_left p {
  margin-top: 36px;
  color: rgb(105, 120, 128);
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}

.footer_top_right p {
  margin-bottom: 12px;
  color: rgb(105, 120, 128);
  font-family: Alumni Sans;
  font-size: 28px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -2%;
  text-align: left;
  text-transform: uppercase;
}

.footer_top_right a {
  /* h4 */
  color: rgb(15, 31, 38);
  font-family: Alumni Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -2%;
  text-align: left;
  text-transform: uppercase;
  transition: all 0.4s ease;
}
.footer_top_right a:hover {
  transition: all 0.4s ease;
  color: rgb(217, 70, 54);
}
.footer_top_right div:last-child {
  margin-top: 36px;
}
.footer_top_right div:last-child a {
  text-decoration: underline;
}

.footer_btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer_btm_menu {
  display: flex;
  align-items: center;
  gap: 48px;
}
.footer_btm_menu p {
  color: rgb(105, 120, 128);
  font-family: Alumni Sans;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.footer_btm_menu p:hover {
  text-decoration: underline;
}
.footer_logo {
  margin-right: 50px;
}
.footer_donate {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 472px;
}
.footer_donate .donate_btn {
  width: 84%;
}
.footer_donate .next_btn {
  width: 16%;
}

.copyright p {
  color: rgb(105, 120, 128);
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 40px;
}

.secondary_nav p {
  color: rgb(15, 31, 38);
}
.secondary_nav .nav_lang {
  background: rgb(218, 231, 240);
}
.secondary_nav .nav_lang p {
  color: rgb(105, 120, 128);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 80px;
}

.pagination_btn {
  box-sizing: border-box;
  width: 72px;
  height: 72px;
  cursor: pointer;
  border: 1px solid rgb(184, 201, 209);
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.pagination_btn:hover {
  transition: all 0.4s ease;
  border: 1px solid rgb(250, 162, 75);
}

.pagination_btn p {
  transition: all 0.4s ease;
  /* h6 */
  color: rgb(105, 120, 128);
  font-family: Alumni Sans;
  font-size: 28px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -2%;
  text-align: center;
  text-transform: uppercase;
}
.pagination_btn:hover p {
  transition: all 0.4s ease;
  color: rgb(250, 162, 75);
}

.active_pagination_btn {
  background: rgb(250, 162, 75);
  border: none;
}
.active_pagination_btn p {
  color: rgb(255, 255, 255);
}

.donation {
  border-radius: 36px;
  /* orange */
  background: rgb(250, 162, 75);
  overflow: hidden;
}
.donation .donate_btn {
  border: none;
  background: rgb(217, 70, 54);
  color: #fff;
}

.donation p,
.donation span {
  color: #fff;
}
.donation_img {
  margin-right: -28px;
}
.donation_img img {
  width: 100%;
  margin-bottom: 30px;
  margin-left: -8px;
}

.contacts_list {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 80px;
}
.contacts_list div {
  margin-top: 0 !important;
}

.map img {
  width: 100%;
  border-radius: 60px;
}

.footer_top .footer_top_right {
  width: 100%;
  max-width: 472px;
}

.news_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  margin-top: 80px;
}

.news_card {
  border-radius: 36px;
  padding: 8px;
  background: rgb(218, 231, 240);
  display: flex;
  align-items: start;
  gap: 28px;
}

.news_card_img img {
  border-radius: 28px;
}

.news_card_desc h4 {
  margin: 24px 0 12px;
  /* des */
  color: rgb(105, 120, 128);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}

.news_card_desc h3 {
  /* h5 */
  color: rgb(15, 31, 38);
  font-family: Alumni Sans;
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -2%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.news_card_desc p {
  /* p */
  color: rgb(105, 120, 128);
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 12px;
}

.news_card_desc a {
  /* p_medium */
  color: rgb(217, 70, 54);
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: underline;
}

.news_card_header {
  gap: 48px;
}
.news_card_header .news_card_img {
  width: 34%;
}
.news_card_header .news_card_img img {
  width: 100%;
  border-radius: 28px;
}

.news_card_header .news_card_desc {
  width: 66%;
}

.news_card_header .news_card_desc h4 {
  font-size: 18px;
  margin: 40px 0 24px;
}
.news_card_header .news_card_desc h3 {
  font-size: 96px;
  margin-bottom: 24px;
}

.news_card_header .news_card_desc p {
  /* p */
  color: rgb(15, 31, 38);
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}

.news_content {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 50px;
  gap: 48px;
}
.news_content_links {
  width: 34%;
}

.news_content_links p {
  /* h5 */
  color: rgb(15, 31, 38);
  font-family: Alumni Sans;
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -2%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.news_content_link_items {
  display: flex;
  align-items: center;
  gap: 8px;
}
.news_content_link_items a {
  width: 72px;
  height: 72px;
  border-radius: 24px;

  /* bg2 */
  background: rgb(218, 231, 240);
  display: flex;
  align-items: center;
  justify-content: center;
}

.news_main_content {
  width: 66%;
}

.news_main_content p {
  /* p */
  color: rgb(15, 31, 38);
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 40px;
}

.news_quote {
  padding: 32px 36px 32px 36px;
  border-left: 4px solid rgb(250, 162, 75);
  border-radius: 24px;
  margin-bottom: 40px;
  background: rgb(245, 239, 233);
}

.news_quote p {
  margin: 0;
  margin-top: 27px;
}

.news_main_content h3 {
  /* h4 */
  color: rgb(15, 31, 38);
  font-family: Alumni Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -2%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.news_main_content h5 {
  margin-bottom: 20px;
  color: rgb(15, 31, 38);
  font-family: Manrope;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}

.news_main_content ul {
  padding-left: 20px;
  margin-bottom: 40px;
}
.news_main_content li p {
  margin-bottom: 12px;
}
.news_content_img {
  width: 100%;
  margin-bottom: 40px;
}
.more_news {
  border-top: 1px solid rgb(184, 201, 209);
  margin-top: 80px;
  padding-top: 80px;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  backdrop-filter: blur(15px);
  background: rgba(15, 31, 38, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_donate {
  border-radius: 36px;
  padding: 8px;
  background: rgb(228, 239, 247);
  max-width: 950px;
  width: 100%;
}

.modal_donate_left {
  width: 40%;
}

.summ_input {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  margin-top: 24px;
}
.summ_input p {
  /* des */
  color: rgb(15, 31, 38);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  margin: 0;
  text-align: left;
}
.summ_input input {
  box-sizing: border-box;
  padding: 20px 24px 20px 24px;
  width: 50%;
  height: 72px;
  border: 1px solid rgb(184, 201, 209);
  border-radius: 28px;
  background: transparent; /* h5 */
  color: rgb(15, 31, 38);
  font-family: Alumni Sans;
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -2%;
  text-align: left;
  text-transform: uppercase;
}

.modal_donate_right {
  width: 60%;
  padding: 28px;
  position: relative;
}
.modal_donate {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 8px;
}

.modal_donate_right h2 {
  /* h3 */
  font-family: Alumni Sans;
  font-size: 60px;
  font-weight: 600;
  line-height: 90%;
  letter-spacing: -2%;
  text-align: left;
  text-transform: uppercase;
  color: rgb(15, 31, 38);
  margin-bottom: 36px;
}
.modal_donate_right h2 span {
  color: rgb(105, 120, 128);
}

.modal_donate_right_exit img {
  position: absolute;
  right: 28px;
  top: 24px;
}
.payment_types {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 36px;
}
.payment_type {
  border-top: 2px solid rgb(184, 201, 209);
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease;
}
.payment_type:hover {
  border-top: 2px solid rgb(217, 70, 54);
  transition: all 0.4s ease;
}
.payment_type_item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.payment_type_item p {
  /* des_bold */
  color: #697880;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0%;
  transition: all 0.4s ease;
  text-align: left;
}
.payment_type:hover p {
  color: rgb(217, 70, 54);
  transition: all 0.4s ease;
}

.payment_type .payment_type_tr {
  visibility: hidden;
  margin-bottom: 8px;
}
.active_payment_type {
  border-top: 2px solid rgb(217, 70, 54);
}
.active_payment_type p {
  color: rgb(217, 70, 54);
}
.active_payment_type svg * {
  fill: rgb(217, 70, 54);
}
.payment_type svg {
  transition: all 0.4s ease;
}
.payment_type:hover svg * {
  transition: all 0.4s ease;
  fill: rgb(217, 70, 54);
}
.active_payment_type .payment_type_tr {
  visibility: visible;
}

.payment_form input {
  box-sizing: border-box;
  /* sep */
  border: 1px solid rgb(184, 201, 209);
  border-radius: 28px;
  padding: 0px 24px 0px 24px;
  height: 72px;
  width: 100%;
  background: transparent; /* p_medium */
  color: rgb(105, 120, 128);
  font-family: Manrope;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px;
  transition: all 0.4s ease;
}
.payment_form input:focus {
  border: 1px solid rgb(250, 162, 75);
}

.payment_form_card_desc {
  display: flex;
  align-items: center;
  gap: 8px;
}
.payment_form_card_desc input:first-child {
  width: 60%;
}
.payment_form_card_desc input:last-child {
  width: 40%;
}
.form_btns {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 16px;
}
.form_btns .donate_btn {
  width: 85%;
  background: rgb(217, 70, 54);
  color: #fff;
  border: none;
  height: 72px;
}
.form_btns .next_btn {
  width: 15%;
}

.modal_donate_right_exit img {
  cursor: pointer;
}

.overlay {
  transition: all 0.4s ease;
  transform: translateY(-100%);
}
.overlay_visible {
  transition: all 0.4s ease;
  transform: translateY(0);
}

.modal_donate_left .programm_card_desc p {
  font-size: 34px;
  font-weight: 600;
  line-height: 90%;
}
.modal_donate_left .programm_card_desc {
  padding: 22px;
}
.modal_donate_left .programm_card_desc span {
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
}

.modal_donate_left .summ_input p {
  /* des */
  color: rgb(15, 31, 38);
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: none;
}
